html {
  overflow-y: scroll;
}

body {
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  max-width: 800px;
  margin: auto;
  padding: 3px 20px 25px 20px;
  line-height: 1.5em;
}
 
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Header and Footer */
header {
  font-family: "Lucida Console" , "Liberation Mono";
  font-size: .875rem;
  background: #0E38B1;
  border-bottom: 1px solid #000;
}

header ul {
  margin: 0;
  padding: 0;
  list-style: none
}

header nav {
  padding: 0 0.5rem
}

header a {
  color: #fff;
  line-height: 1.75rem;
  padding: 0 0.5rem
}

header a:hover,
header .active a {
  text-decoration: underline;
}

ul.header-nav {
  display: flex;
  flex-direction: row;
}

/* Post Header */
.post-header {
    background: #9eafdf; /* #D2D6EF;*/
    color: #FFF;
    padding: 5px;
    border-radius: 5px;
}
  
.terms { font-size: .9em; }
.post-header, footer { text-align: center; }
.title { font-size: 1.1em; }
  
/* Code Boxes */
pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  background: #f8f8f8;
  padding: 1em;
  overflow-x: auto;
}

/* Images, tables, misc. */
img, iframe, video { max-width: 100%; }
blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
tr:nth-child(even) { background: #eee }

code {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 85%;
}

/* Homepage */
.image-avatar {
  float: right;
  padding: 0 0 10px 10px;
}

@media only screen and (max-width : 670px) {
  .image-avatar {
    float: none;
    padding: 0;
  }
}

#computer-security-student-web-developer-pentester + p {
  text-align: justify;
}